body{
    margin: 0px;
    border: 0;
    background-color: #A1DCFE;
    background-image: url('./image/3d287338-c154-4e76-9bd3-255cc73b272d.jpg');
    background-repeat: no-repeat;
    background-position: top left;
    /* background:url('body_bkg.jpg') no-repeat top left #A1DCFE; */
}